{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Sandbox</title>

	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<meta name="viewport" content="width=device-width">
	{block head}{/block}

</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    {block menu}
        <div id="mainMenu">
            <a n:href="Homepage:">Domov</a>
             | <a n:href="Feed:upload">Pridať RSS</a>
             | <a n:href="Feed:show">Prehľadávať databázu</a>
            {block links}
            {/block}
        </div>
    {/block}
	{include content}

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/livephp.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>

    {block scripts}
	{/block}
</body>
</html>
