{* This is the welcome page, you can delete it *}
{block links}
     | <a n:href="export!" class="popup" n:if="$items">Export</a>
{/block}
{block content}
    {snippet wholeList}
        <ul n:if="$items">
        {foreach $items as $item}
            <li id="item-{$item->id}">
                <a href="#" onclick="javascript:edit({$item->id})">Editovať</a> |
                <a href="#" onclick="javascript:remove({$item->id})">Zmazať</a> -
                <a href="{$item->link}" class="title" target="_blank">{$item->title|capitalize}</a> -
                {$item->pubDate}
            </li>
        {/foreach}
        </ul>
        {for $x=1;$x<=$paginator->getPageCount();$x++}
            <a n:href=":show page=>$x">{$x}</a>
        {/for}
    {/snippet}
{/block}
{block scripts}
    <script>$(function () { $.nette.init();});</script>
    <script src="{$basePath}/js/feedEdit.js" n:snippet="js"></script>
{/block}
